.tableCell {
  padding: 8px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  /* color: var(--secondary-color-text); */
}

.tableCell:not(:last-child) {
  border-right: 2px solid var(--primary-color);
}

.item:nth-child(even) {
  background-color: rgba(47, 186, 4, 0.5);
}
