.transactionHistory {
  width: 600px;
  margin: 40px auto;

  overflow: hidden;

  text-align: center;

  border-radius: 8px;
  border-collapse: collapse;
  box-shadow: 0px 0px 12px 1px var(--primary-color);
}

.header {
  padding: 8px 0;
  width: calc(100% / 3);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: rgba(47, 186, 4, 0.5);
}

.header:not(:last-child) {
  border-right: 2px solid var(--primary-color);
}
